* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-height: 100vh;
}
body {
    background-color: lavender;
}
.container {
    width: 700px;
    height: 300px;
    position: relative;
    transform: translate(300px, 150px);
    text-align: center;
    background-color: rgb(28, 28, 31);
    border: 4px solid rgb(22, 165, 22) ;
    border-radius: 10%;
}

.displayTime {
    font-size: 3.8em;
    color: rgb(22, 165, 22);
    position: absolute;
    top: 65px;
    left: 220px;
}

.buttons {
    position: absolute;
    top: 180px;
    left: 150px;
    
}
.buttonStyle {
    width: 110px;
    height: 60px;
    border: 2px solid white;
    border-radius: 12%;
    font-size: x-large;
    background-color:rgb(211, 83, 9);
    margin-right: 35px;
    cursor: pointer;
}
button:active {
    background-color: rgb(223, 100, 18);
    transform: scale(1.1);
}

